body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  text-align: center;
  padding: 20px 0;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #0056b3;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
}

.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 220px; }

.card img {
  width: 100%;
  height: 150px; 
  object-fit: cover; }

.card .info {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px; 
  background-color: #fff;
  font-family: 'Montserrat', sans-serif; 

 
}

.card .info p {
  margin: 0;
  font-weight: 400; 
  line-height: 24px; }


  .loader {
      border: 16px solid #f3f3f3; 
      border-top: 16px solid #007BFF; 
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
  }
  
  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
  
  .loader-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.7);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9;
  }

  .load-more-container{
    display: flex;  
    justify-content: center; 
    margin-top: 20px;
  }


  .load-more{
    display: none;    
   
    padding: 10px 20px;    
    font-size: 16px;    
    cursor: pointer;    
    background-color: #3498db;
    color:white;
    border: none;
    border-radius: 5px;
   
  }

  .load-more:hover {
    background-color: #2980b9;
  }








